In [2]:
# tuples
tuple1 =(12,6,-8,'jenny',True)
print(tuple1)

(12, 6, -8, 'jenny', True)

In [3]:
tuple1[0]

12

In [7]:
#sets like tuples and list are also used to store multiple values in a variable
#set doesnt allow duplicate items but in list and tuples they are allowed, set items are also unordered and so therefore indexing isnt allowed
#you cant interchange items because indexing isnt allowed but items can be added and subtracted

set1 = {10,56,4,34,'yiriboy'}
print(set1)
set2= set() #empty set
print(type(set2))
#slicing also not allowed

{34, 4, 'yiriboy', 56, 10}
<class 'set'>

In [9]:
set1.add(99)

print(set1)

{34, 99, 4, 'yiriboy', 56, 10}

In [10]:
set1.remove(4)
print(set1)

{34, 99, 'yiriboy', 56, 10}

In [14]:
#operations in set

set1 ={'jacob','esau','abraham'}
set2 ={'raquel','esau','tenorin'}

print(set1.union(('mohan','james')))

print(set1|set2)

#we can also do union on more than 2 set

#to update we use set1.update(set2) or set1 |= set2

{'mohan', 'abraham', 'esau', 'jacob', 'james'}
{'esau', 'raquel', 'jacob', 'tenorin', 'abraham'}

In [15]:
print(set1.intersection(set2))

{'esau'}

In [16]:
print(set1&set2)#also intersection

{'esau'}

In [19]:
#

set1 = {'ram','shyam','jenny'}
set2 ={'jenny','jiya','Aakash'}
set3 ={'ankur','pradeep'}

print(set1.difference(set2,set3))
print(set1-set2)

{'shyam', 'ram'}
{'shyam', 'ram'}

In [21]:
set1 = {'ram','shyam','jenny'}
set2 ={'jiya','Aakash'}
print(set1.isdisjoint(set2))

True